@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #1b2029 ;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}
main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1{
    color: #8880fe;
    font-size: 3rem;
    margin-bottom: 4rem;
}
main .social-media {
    display: flex;
    align-content: center;
}
main .social-media a {
    text-decoration: none;
}
main .social-media img {
    width: 40px;
    margin-left: 3rem;
}
main .social-media a:first-child img {
    margin-left: 0%;
}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form label {
    display: flex;
    flex-direction: column; 
}
main form label span {
    font-size: 1.1rem;
    margin-top: 1.5rem;
}
main form input {
    background: #161923;
    width: 300px;
    height: 45px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    border: 1px solid #040b18;
    border-radius: 8px;
}
main form input[type='submit'] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    background: #6c63ff;
}
section.image {
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}
section.image img {
    width: 90%;
}
main .alternative {
    display: flex;
    width: 90%;

}